# Dart / Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Serverpod
.generated/
migrations/*.sql

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Secrets
config/passwords.yaml
.env

